* {
    margin: 0%;
}

.container {
    background-color: rgb(37, 37, 37);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 10%;
    color: white;
}