* {
    margin: 0%;
}

body {
    background-color: rgb(46, 46, 46);
    padding: 20px;
}
.search {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

h1{
    margin-top: 10%;
    color: white;
    text-align: center;
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.card{
    background-color: rgb(34, 34, 34);
    border: 3px solid rgb(55, 55, 55);
    width: 180px;
    padding: 10px;
    text-align: center;
    color: white;
}

.card img{
    width: 100%;
    border-radius: 20%;
}